{% load staticfiles %}
<!doctype html>
<html lang="no-js">
<head>
    <meta charset="UTF-8">
    <title>小K问答</title>
</head>
<link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.css" rel="stylesheet">
<link rel="stylesheet" href='{% static "font_awesome/css/font-awesome.min.css" %}'>
{% block css %}{% endblock %}
<script>
    window.drf = {
      csrfHeaderName: "X-CSRFTOKEN",
      csrfCookieName: "csrftoken"
    };
</script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src='{% static "rest_framework/js/csrf.js" %}'></script>
<script src='{% static "simple-ajax-table/sat.core.js" %}'></script>
<script src='{% static "simple-ajax-table/sat.create.js" %}'></script>
<script src='{% static "simple-ajax-table/sat.update.js" %}'></script>
<script src='{% static "simple-ajax-table/sat.drf.js" %}'></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src='{% static "markdown/markdown.min.js" %}'></script>

<body>

<div class="container">
    <div class="row">

        <form role="form" id="client-question">
          <div class="form-group" class=".col-xs-12">
            <label for="name">您的提问</label>
            <input type="text" class="form-control" id="question" name="question">
          </div>
            <input type="button" class="form-control btn btn-primary" id = "client-submit" value="提交">
        </form>
        <div class="answer"></div>
    </div>

</div>


<script>
$(function () {
    $("#client-submit").click(function () {
        question = $("#question").val()
        alert(question)
        data = {'question': question}
        $.ajax({
            type: "POST",
            url: "{% url 'web-test-answer' %}",
            data: data,
            dataType: 'json',
            success: function (ret) {
                alert("成功")
                cache = ret['cache']
                for(var i = 0; i < cache.length; i++){
                    question = cache[i]['question']
                    sim = cache[i]['sim']
                    answer = cache[i]['answer']
                    div = $("<div></div>")
                    div1 = $("<div></div>").text(question)
                    div2 = $("<div></div>").text(sim)
                    div3 = $("<div></div>").text(answer)
                    div.append(div1).append(div2).append(div3)
                    $(".answer").append(div)
                }
            },
            error: function (info, message, errorObj) {
                alert("error")
                self.setError(self, info, message, errorObj)
            }
    })
})
})
</script>
{% block script %}{% endblock %}
</body>
</html>